@import '@/styles/mixins/responsive.sass'

.selectall
    font-family: Noto Sans CJK TC
    font-size: 18px
    font-weight: 400
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: #323232

.selectone
    font-family: Noto Sans CJK TC
    font-size: 18px
    font-weight: 400
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: #323232
    margin-right: 8%

// .selectone:nth-child(4n)
//     clear: left

.bgsetting
    margin-top: 256px

.checkboxcolor
    color: #B5CC22
