.bgcolor
    background-color: #ffffff
    // width: 1192px
    height: 397px
    display: flex
    align-items: center
    justify-content: center
.row1
    display: flex
    flex-direction: row
    width: 1192px
    height: 397px
    align-items: center
    justify-content: space-around

.col1
    display: flex
    flex-direction: column
    width: 596px
    height: 397px
    // margin-top: 35px
    // margin-left: 124px

.row2
    display: flex
    flex-direction: row
    width: 596px
    align-items: center
    // justify-content: space-between
    margin-top: 88px
    margin-bottom: 54px

.title
    width: 109px
    height: 24px

.pcolor
    font-weight: 700
    color: #B5CC22
    font-size: 24px
    line-height: 24px
    letter-spacing: 18%
    margin-top: 32px

.col2
    display: flex
    flex-direction: column
    align-items: flex-end
    // justify-content: flex-end
    width: 596px
    margin-top: 201px
