@import '@/styles/mixins/responsive.sass'

.appbar
    background-color: white
    padding: 0
    @include mobile-m
        // width: 311px

.container
    background-color: white
    padding: 0
    // width: 1192px
    @include mobile-m
        width: 311px

.link
    @include mobile-m
        margin-left: 4%

.bardetail
    margin-left: 40px
    font-size: 18px
    line-height: 24px
    &:hover
        color: #B5CC22

    &:active
        color: #B5CC22

// .hamburger
//     marginright: 3%

.bgsetting
    width: 1192px
