@import '@/styles/mixins/responsive.sass'

.bgcolor
    background-color: #F6F6F6
    font-family: Noto Sans CJK TC
    font-size: 18px
    font-weight: 400
    line-height: 20px
    letter-spacing: 0.10000000149011612px
    text-align: center
    border: none
    color: #323232
    padding: 14px 8px 8px 0px
    width: 175px
    height: 40px
    border: none !important
    outline: none !important
    @include mobile-m
        width: 311px
        height: 40px
        font-family: Noto Sans CJK TC
        font-size: 16px
        font-weight: 500
        line-height: 20px
        letter-spacing: 0.10000000149011612px
        text-align: center
        padding: 14px 8px 8px 4px
        text-align: left

.selectcity
    color: #AEAEAE
    //無效
// .customFormControl
//     outline: none !important
//     border: none !important
    @include mobile-m

.formcontrol
    // width: Fixed (175px)
    // height: Fixed (40px)
    // top: 192px
    // left: 124px
    // padding: 8px 16px 8px 16px
    border-radius: 8px
    border: none !important
    gap: 16px
    outline: none !important
    width: 175px
    height: 40px
    @include mobile-m
        width: 311px
        height: 40px
        margin-top: 12px

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline
    border: none

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline
    border: none

.MuiInputLabel-outlined.MuiInputLabel-shrink
    transform: none

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused .MuiInputAdornment-root .MuiSvgIcon-root path
    fill: transparent

    //無效
// .customSelect
  // 如果仍然無效，您可以嘗試使用 !important 來強制覆蓋樣式
    // outline: none !important
    // border: none !important

// .formcontrol:focus
//     outline: none
// import styles from './select.module.sass'
